@font-face {
    font-family: 'Sawton Industrial';
    src: url('../fonts/SawtonIndustrial-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sawton Industrial';
    src: url('SawtonIndustrial-Bold.woff2') format('woff2'),
        url('SawtonIndustrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sawton Industrial';
    src: url('SawtonIndustrial-Light.woff2') format('woff2'),
        url('SawtonIndustrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sawton Industrial';
    src: url('SawtonIndustrial-Medium.woff2') format('woff2'),
        url('SawtonIndustrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sawton Industrial';
    src: url('SawtonIndustrial-Thin.woff2') format('woff2'),
        url('SawtonIndustrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

