:root {
  /* Gray Color */
  --black: #000000;
  --grey-1400: #111111;
  --grey-1300: #222222;
  --grey-1200: #333333;
  --grey-1100: #444444;
  --grey-1000: #555555;
  --grey-900: #666666;
  --grey-800: #777777;
  --grey-700: #888888;
  --grey-600: #999999;
  --grey-500: #aaaaaa;
  --grey-400: #bbbbbb;
  --grey-300: #cccccc;
  --grey-200: #dddddd;
  --grey-100: #eeeeee;

  /* Red Color */
  --red-1000: #531B1B;
  --red-900: #752D2D;
  --red-800: #974343;
  --red-700: #B95C5C;
  --red-600: #DB7979;
  --red-500: #FD9A9A;
  --red-400: #FFB2B2;
  --red-300: #FFC8C8;
  --red-200: #FFDEDE;
  --red-100: #FFF5F5;

  /* Accent Colors */
  --yellow: #515216;
  --green: #1f3d1a;
  --blue: #1c2c5d;

  /* Log Colors */
  --error: var(--red-1000);
  --warn: var(--yellow);
  --success: var(--green);

  /* Color Intentions */
  --white: var(--grey-400);
  --whiteLight: var(--grey-700);
  --whiteExtraLight: var(--grey-1000);
  --primary-color: var(--grey-1300);
  --accentColor: #646cff;
  --background-color-section: var(--grey-1200);
  --background-color-popup: hsla(0, 0%, 25%, 0.6);
  --background-color-button: var(--grey-1300);

  /* Scales */
  --default-padding: 1.25rem;
  --default-margin: 0.2rem;
  --default-border-radius: 8px;

  /* Root */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/**
 * React JS Cron
 */

.react-js-cron {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.react-js-cron > div, .react-js-cron-field {
  display: flex;
  align-items: center;
}

.react-js-cron-field {
  margin-bottom: 10px;
}

.react-js-cron-field > span {
  margin-left: 5px;
}

div.react-js-cron-select {
  margin-left: 5px;
}

.ant-select-selector {
  background-color: transparent !important;
  color: var(--white) !important;
  outline: none !important;
  /* padding: 1.5rem 1.2rem !important; */
}
.react-js-cron-select .ant-select-arrow > span > svg {
  color: var(--white) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
